@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest/Onest-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SF/SF-Pro-Display-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --header-height: 48px;

  --font-family-base: 'SF Pro Display', sans-serif;
  --font-family-extra: 'Onest', sans-serif;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-text-primary: #181a27;
  --color-text-secondary: #8b8c93;

  --color-gray-1: #f6f6f6;
  --color-gray-2: #181a270d;
  --color-gray-3: #575757;
  --color-gray-4: #a5a5a540;
  --color-gray-5: #d9d9d9;

  --color-orange-1: #e88565;
  --color-orange-2: #db724f;
}

* {
  font-family: var(--font-family-base);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text-primary);
  padding-top: var(--header-height);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 988px;
  margin: 0 auto;
  padding-inline: 8px;
  scroll-margin-top: calc(var(--header-height) + 16px);
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--primary {
  background-color: var(--color-orange-1);
  font-weight: 700;
  padding: 20px 24px;
  line-height: 1.35;
  font-size: 18px;
  color: var(--color-white);
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.button--primary:hover {
  background-color: var(--color-orange-2);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.section-title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.scrollup {
  position: fixed;
  right: 16px;
  bottom: -20%;
  background-color: var(--color-orange-1);
  padding: 8px;
  display: flex;
  opacity: 0.9;
  z-index: 10;
  transition: 0.3s;
}

.scroll-up__icon {
  transform: rotate(180deg);
}

.show-scroll {
  bottom: 60px;
}

.input {
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.35;
  width: 100%;
  outline: none;
  appearance: none;
  padding-block: 20px;
}

.select,
::picker(select) {
  appearance: base-select;
}

.select {
  cursor: pointer;
  align-items: center;
}

::picker(select) {
  border: none;
  box-shadow: 0px 10px 24px var(--color-gray-2);
}

.select__option {
  padding: 16px 20px;
  transition: 0.3s;
  cursor: pointer;
}

select::picker-icon {
  transition: 0.3s rotate;
  content: url(/assets/img/arrow.svg);
}

.select:open::picker-icon {
  rotate: 180deg;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  line-height: 1.5;
  width: fit-content;
}

.checkbox__input {
  appearance: none;
  position: relative;
  width: 18px;
  height: 18px;
  background-color: var(--color-white);
  border: 2px solid var(--color-gray-5);
}

.checkbox__input::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  font-size: 16px;
  background: url('../img/check.svg') no-repeat 2px 3px;
  transition: 0.3s;
}

.checkbox__input:checked::after {
  width: 18px;
  height: 18px;
}

.checkbox__input,
.checkbox__label {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}

.checkbox:hover .checkbox__input,
.checkbox:hover .checkbox__label,
.checkbox__input:checked,
.checkbox__input:checked + .checkbox__label {
  opacity: 1;
}

.divider {
  height: calc(100% - 32px);
  width: 1px;
  background-color: var(--color-gray-4);
  align-self: center;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--color-white);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 8px;
  gap: 24px;
}

.header__logo {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}

.header__logo-text {
  font-family: var(--font-family-extra);
  font-weight: 600;
  line-height: 14px;
  color: var(--color-text-primary);
}

.header__menu {
  position: relative;
}

.header__close {
  display: none;
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    column-gap: 1rem;
  }
}

.header__nav {
  display: flex;
  gap: 24px;
  font-weight: 700;
  line-height: 1.5;
}

.header__nav-item {
  position: relative;
  color: var(--color-text-primary);
}

.header__nav-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-text-primary);
  transition: width 0.3s;
}

.header__nav-item:hover::after {
  width: 100%;
}

.header__burger {
  display: none;
}

/* SEARCH */
.search {
  padding-top: 100px;
}

.search__inner {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.search__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.search__title {
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: -1px;
}

.search__subtitle {
  line-height: 1.35;
  font-size: 18px;
  color: var(--color-text-secondary);
}

.search__form {
  display: grid;
  grid-template-columns: 1fr auto 1fr 120px;
  background-color: var(--color-gray-1);
}

.search__input {
  display: flex;
  gap: 8px;
}

.search__select,
.search__input {
  padding-inline: 16px;
}

.search__input::placeholder {
  color: var(--color-gray-1);
}

/* MAP */
.map {
  position: relative;
}

.map::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: -30px;
  filter: blur(80px);
  opacity: 0.5;
  border-radius: 96px;
}

.map__inner {
  display: flex;
  height: 330px;
  padding: 24px 32px;
  position: relative;
}

.map::before,
.map__inner {
  background: url('../img/map.jpg') center / cover no-repeat;
}

.map__info {
  color: var(--color-black);
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: end;
}

.map__info-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  max-width: 313px;
}

/* AD */
.ad {
  max-width: 728px;
}

.add__button {
  height: 90px;
  width: 100%;
}

/* CATEGORIES */
.categories {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.categories__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  font-weight: 700;
}

.categories__icon {
  width: 80px;
  aspect-ratio: 1 / 1;
}

.categories__title {
  line-height: 1.5;
}

.categories__count {
  font-size: 20px;
  line-height: 1.2;
}

/* COUNTRIES */
.countries {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.countries__inner {
  background-color: var(--color-gray-1);
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
}

.countries__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  line-height: 1.5;
  font-weight: 700;
  width: 100%;
}

.countries__expand-button {
  gap: 8px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--color-text-secondary);
}

/* ADD RESTAURANT */
.add-restaurant {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 100px;
}

.add-restaurant__input {
  border-bottom: 1px solid var(--color-gray-4);
}

.add-restaurant__address {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

.add-restaurant__textarea {
  resize: none;
}

.add-restaurant__form {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.add-restaurant__form-column {
  padding-right: 32px;
}

.add-restaurant__food {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: start;
  padding-left: 16px;
}

/* FOOTER */
.footer {
  font-family: var(--font-family-extra);
  background-color: var(--color-gray-2);
  padding-block: 20px;
  color: var(--color-text-secondary);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer__logo-image {
  opacity: 0.5;
}

.footer__logo-text {
  font-family: var(--font-family-extra);
  font-weight: 600;
  line-height: 14px;
}

/* MOBILE */
@media (max-width: 768px) {
  .main {
    gap: 60px;
  }

  .divider {
    width: calc(100% - 32px);
    height: 1px;
    justify-self: center;
  }

  .container {
    padding-inline: 16px;
  }

  .section-title {
    font-size: 26px;
  }

  .header__menu {
    position: fixed;
    background-color: var(--color-white);
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    box-shadow: -4px 0 4px var(--color-gray-2);
    padding: 48px 32px;
    transition: 0.4s;
  }

  .show-header-menu {
    right: 0;
  }

  .header__nav {
    flex-direction: column;
  }

  .header__close {
    display: flex;
  }

  .header__burger {
    display: flex;
  }

  .search {
    padding-top: 24px;
  }

  .search__inner {
    gap: 24px;
  }

  .search__header {
    gap: 8px;
  }

  .search__title {
    font-size: 36px;
  }

  .search__subtitle {
    font-size: 16px;
  }

  .search__form {
    grid-template-columns: auto;
  }

  .map__inner {
    height: 288px;
    padding: 24px;
  }

  .map__info-title {
    font-size: 28px;
    max-width: 183px;
  }

  .ad {
    padding-inline: 0;
  }

  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
  }

  .categories__item:last-child:nth-child(odd) {
    grid-column: 1 / -1;
  }

  .categories__title {
    font-size: 14px;
  }

  .countries {
    gap: 24px;
  }

  .countries__list {
    grid-template-columns: 1fr;
  }

  .countries__list li:nth-child(n + 10) {
    display: none;
  }

  .countries__inner {
    padding: 16px;
    gap: 16px;
  }

  .add-restaurant {
    gap: 24px;
    padding-bottom: 40px;
  }

  .add-restaurant__form-column {
    padding: 0 16px;
  }

  .add-restaurant__form {
    grid-template-columns: auto;
  }

  .add-restaurant__food {
    padding: 16px 0 0 0;
  }
}
